html{

  ::-webkit-scrollbar{
    width: 10px;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: #868e96;
  }
}

body{
  ::-webkit-scrollbar{
    width: 10px;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.list-group{
  cursor: pointer;
}

#col-md-3-1{
  max-width: 250px;
}

#col-md-3-2{
  max-width: 150px;
}

#col-md-3-3{
  max-width: 150px;
}

#col-md-3-6{
  max-width: 250px;
}

#search-button{
  float: right;
  margin-right: 30px;
  height: 36px;
}

.form-control{
  font-size: 13px;
}

a.logout-link{
  text-decoration-line: none;
  color: white;
}

a.logout-link:hover{
  color: #5a5a5a;
}

#minFileSizeUnit,
#maxFileSizeUnit{
  max-width: 67px;
}

.container{
  max-width: 1900px;

  .mb-3{
    display: flex;
    flex-wrap: nowrap;
  }

  .mb-3 > .col-md-3{
    display: flex;
    max-width: 230px;
  }

  .list-group{
    width: 270px;
  }

  #serverStatus{
    margin-bottom: 40px;
  }

  .mt-4{
    margin-bottom: 40px;
  }
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
}

#logText{
  border: 1px solid red;
  border-radius: 7px;
}

.chart-item {
  flex: 1 1 calc(20% - 20px); /* 5개씩 배치하고 간격을 고려한 너비 */
  margin: 10px; /* 각 차트 간의 간격 */
  box-sizing: border-box;
}

canvas {
  width: 100% !important; /* 차트가 컨테이너의 너비를 채우도록 설정 */
  height: auto !important;
}

#activityLog {
  max-height: 300px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 설정 */
}

.log-info {
  color: green;
}

.log-error {
  color: red;
}

.log-warning {
  color: orange;
}

.log-debug {
  color: blue;
}

#logCarousel{
  position: relative;

  .list-group-item{
    border-radius: 2em;
    margin-bottom: 10px;
  }
  .list-group-item:hover{
    background-color: #5189bd;
    cursor: pointer;
    border-radius: 2em;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40; /* Dark color */
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
}
.carousel-control-prev {
  left: -5%;
}
.carousel-control-next {
  right: -5%;
}

.row{
  margin-right: 45px;
}