body {
    /*background: #0C1125;*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("v1016-b-08.jpg");
    background-size: 1750px;
}
.main-body{
    clac(100% - 4rem);
}
.body-header{
    text-align: center;
    color: #b3b3b3;
    font-size: 4rem;
    margin-top: 320px;
}
.body-addtext{
    font-size: 14px;
}
.bold-text {
    font-weight: 900;
}
.next-text{
    font-size: 20px;
}
.header-text{
    color: white;
    text-align: center;
}
.body-middle{
    margin-left: 150px;
    margin-top: 270px;
}
.boxes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
}
.first-box,
.second-box,
.third-box{
    width: 250px;
    height: 150px;
    border: 1px solid #212121;
    border-radius: 10px;
    float: left;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #212121;
    margin: 10px;
    flex: 0 0 auto;
}